p {
	text-align: left;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	margin-left: 2%;
	margin-right: 2%;
	color: white;
}

h3 {
	text-align: left;
	text-justify: left;
	overflow-wrap: break-word;
	margin-left: 1%;
	margin-right: 1%;
	color: white;
}

.container {
	margin: 2%;
	background-color: #628369;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 10px;
	border-style: solid;
	border-color: #475e4c;
}
